:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-bg: #f0f0f0;
  --card-shadow: rgba(0, 0, 0, 0.1);
}

body.dark-mode {
  --bg-color: #121212;
  --text-color: #f1f1f1;
  --card-bg: #1e1e1e;
  --card-shadow: rgba(255, 255, 255, 0.1);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.4s ease, color 0.4s ease;
}

* {
  box-sizing: border-box;
}
